* {
    box-sizing:border-box; 
}

.container {
    display:flex; 
    flex-wrap:wrap; 
    justify-content:center;
    height:100vh; 
}

.container div{
    border:1px solid black; 
} 

.zeroOpacity {
    opacity:0;
}

.tenPercentOpacity {
    opacity:0.1;
}

.twentyPercentOpacity {
    opacity:0.2;
}

.thirtyPercentOpacity {
    opacity:0.3
}

.fortyPercentOpacity {
    opacity:0.4
}

.fiftyPercentOpacity {
    opacity:0.5
}

.sixtyPercentOpacity {
    opacity:0.6
}

.seventyPercentOpacity {
    opacity:0.7;
}

.eightyPercentOpacity {
    opacity:0.8;
}

.ninetyPercentOpacity {
    opacity:0.9;
}   

.oneOpacity {
    opacity:1; 
}